/* src/assets/main.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



/* Classi principali del sito */
:root {
    --text: #e6e6e6;
    --foreground: #182515;
    --background: #2b4026;
    --primary: #45b82e;
    --secondary: #1f321b;
    --accent: #ffd500;

    color: var(--text);
    --navbar-height: 64px;
    --verdeScuro: #222722;
    --input: #525d50;
}

body {
    font-family: "Inter", sans-serif;

    background-color: #1f2520;
    background-image: url(/texture/waves.jpg);
    background-blend-mode: overlay;
    background-size: 300px;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



/* Classi per utilità varie */
.max-height {
    height: calc(100vh - var(--navbar-height));
}

.to-center {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Formattazione degli elementi DaisyUi */
.input {
    background-color: var(--input);
}

.table-zebra :where(.table-pin-rows thead tr) {
    background-color: var(--foreground);
}

.table-zebra tbody tr:nth-child(odd) {
    background-color: #586a58;
}

.table-zebra tbody tr:nth-child(even) {
    background-color: #4b5c4b;
}

.table-zebra tbody tr.hover:nth-child(odd):hover,
.table-zebra tbody tr.hover:nth-child(even):hover {
    background-color: #4e6f4e;
}



/* Nasconde la barra di navigazione laterale e la sua spaziatura */
body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

body::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-gutter: auto !important;
}

html:has(body.content-overflow-y) {
    scrollbar-gutter: stable !important;
}



/* Animazioni per rendere un elemento "shiny" */
@keyframes shine {
    0% {
        -webkit-mask-position: 150%;
    }
    50% {
        -webkit-mask-position: -100%;
    }
    100% {
        -webkit-mask-position: -100%;
    }
}

.shine-anim {
    mask-image: linear-gradient(
        -75deg,
        rgb(0, 0, 0) 35%,
        rgba(0, 0, 0, 0.5),
        rgb(0, 0, 0) 65%
    );
    mask-size: 150%;
    mask-position: 200%;
    animation: shine 4s infinite;
    animation-delay: 2s;
}

.shine-anim-hover {
    mask-image: linear-gradient(
        -75deg,
        rgb(0, 0, 0) 45%,
        rgba(0, 0, 0, 0.8),
        rgb(0, 0, 0) 65%
    );
    mask-size: 150%;
    mask-position: 200%;
}

.shine-anim-hover:hover {
    animation: shine 3s normal;
}
